*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html{
scroll-behavior: smooth;
}

.navBar{
  display: flex; 
  align-items: center;
  width: 100%;
  height: 10vh;
  background: rgba(5, 1, 12);
  z-index: 6;
  position: relative;
}


.logo{
  width: 60px;
  height: 60px;
  margin-left: 30px;
  opacity: 0.8;
}
.logo:hover{
  cursor: none;
}

  .nav-links{
    display: flex;
    list-style: none;
    height: 100%;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    

  }


.nav-links li a{
  text-decoration: none;
  font-size: 16px;
  color: white; 
  transition: .2s ease;
}

.nav-links li a:hover{
  color: tomato;
}
.nav-links li a.active{
  color: tomato;
}


.nav-hide{
  width: 100%;
  background: rgba(5, 1, 12);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 4;
  transform: translateY(-100%);
  position: absolute;
  transition: .4s ease-in-out;
  
}   


.hide-links{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}
.hide-links li {
  list-style: none;
  margin: 17px 0;
}

.hide-links li a{
  color: white;
  text-decoration: none;
  font-size: 17px;
  transition: .2s;
}
.hide-links li a:hover{
  color: tomato;
}



section{
  height: 100vh;
  background: url("images/simply2.jpg") center/cover no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 25px;
  position: relative;
}


.headerh3{  
  font-size: 30px;
  margin-bottom: 80px;
}

section :nth-child(2) textarea{
  width: 37%;
  height: 57%;
  padding: 0.4em;
  font-size: 20px;
  outline: none;
  box-shadow: 2px black;
}

textarea:focus{
    box-shadow: 0 0 500px rgba(0, 0, 0, 0.9);
  }

.bttClass{
  font-size: 20px;
  border: 1px solid black;
  color: white;
  background: rgba(5, 1, 12, 0.8);
  padding: 0.5em;
  cursor: pointer;
  outline: none;
  font-weight: bold;
  border-radius: 8px;
  transition: .2s;
  letter-spacing: 1px;
}

.bttClass:hover{
  background: white;
  color: red;
  border: 1px solid black;
}

.forClear{
  font-size: 15px;
  border: 1px solid black;
  color: white;
  background: rgba(5, 1, 12, 0.8);
  cursor: pointer;
  outline: none;
  font-weight: bold;
  border-radius: 8px;
  transition: .2s;
  margin-top: 15px;
  padding: 0.5em 2em;
  letter-spacing: 5px;

}
.forClear:hover{
  background: white;
  color: red;
  border: 1px solid black;
}

h4{
  font-size: 28px;
  font-weight: bold;

}

section :nth-child(6) textarea{
  width: 57%;
  height: 77%;
  padding: 0.4em;
  font-size: 20px;
  outline: none;
  box-shadow: 2px black;
}

footer {
  width: 100%;
  height: 6vh;
  background-color: rgba(5, 1, 12);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p{
  color: white;
  font-size: 15px;
}


.navBar .simbol{
  color: white;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 23px;
  transition: .6s;
  display: none;
}

.navBar .simbol:hover{
  transform: rotate(180deg);
  font-size: 35px;
}

/*  B R E A K */


@media (max-width: 768px) {

  .navBar .simbol{
    display: block;
  }

  .nav-links{
    display: none;
  }
  .logo{
   width: 3rem;
   height: 3rem;
  }

  

/*  B R E A K */
  .add-class{
    transform: translateY(0);
  }
  

 .section-div h3{
    font-size: 20px;  
    margin-bottom: 20px;

 }
 .section-div h4{
   font-size: 17px;
 }

 .section-div button{
   font-size: 0.9rem;
 }
  

}
